<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followings_user_path(@user) %>">
    <%= t('views.users.show.followings') %>
    <strong class="stat">
      <%= @user.following.count %>
    </strong>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <%= t('views.users.show.folower') %>
    <strong class="stat">
      <%= @user.followers.count %>
    </strong>
  </a>
</div>
