<p><%=t('views.mailer.reset_pass.hello')%> <%= @resource.email %>!</p>

<p><%=t('views.mailer.reset_pass.line1')%></p>

<p><%= link_to t('views.mailer.reset_pass.change_pass'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t('views.mailer.reset_pass.line3')%></p>
<p><%=t('views.mailer.reset_pass.line4')%></p>
